/*************************** FONTS **************************/

@font-face 
{
	font-family: Roboto;
	src: url(fonts/Roboto.ttf);
}

@font-face 
{
	font-family: RobotoLight;
	src: url(fonts/Roboto-Light.ttf);
}

/************************ BODY *********************************/

body
{
	margin: 0px;
	margin-bottom: auto;
	height: 97vh;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
 	font-family: Roboto;
}

header
{
	height: 50px;
	margin-top: 22px;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	column-gap: 10px;
}

section
{
	margin-top: -117px;
	height: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer
{
	margin-bottom: -27px;
	font-family: RobotoLight;
	height: 95px;
	background-color: #f0f0f0;
	color: #1b1b1b;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

/*************************** HEADER *****************************/

header a
{
	color: black;
}


#AppGoogle
{
	margin-left: 12px;
	margin-top: -12px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

#AppGoogle:hover
{
	background-color: #f0f0f0;
}

#Account
{
	margin-top: -8px;
	margin-right: 20px;
	height: 32px;
	width: 32px;
	border-radius: 16px;
	background-color: lightskyblue;
}

/**************************** SECTION *********************************/

.BarreDeRecherche
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 22px;
	width: 582px;
	height: 60px;
	border: 1px solid lightgray;
	border-radius: 25px;
}

.BarreDeRecherche:hover
{
	box-shadow: 0px 1px 5px lightgray;
}

#Recherche
{
	height: 40px;
	width: 485px;
	border: none;
	outline: none;
	font-size: 14px;
}

#Loupe
{
	margin-top: 4px;
	margin-left: 2px;
}

#Micro
{
	margin-right: 7px;
	margin-top: 6px;
}

.Boutons
{
	margin-top: 29px;
}

#Bouton1
{
	font-family: Roboto;
	font-size: 14px;
	background-color: #f8f8f8;
	border: none;
	margin-right: 4px;
	height: 36px;
	width: 148px;
}

#Bouton2
{
	font-family: Roboto;
  	font-size: 14px;
	background-color: #f8f8f8;
	border: none;
	margin-left: 4px;
	height: 36px;
	width: 140px;
}

#Bouton1:hover, #Bouton2:hover
{
	border: 1px solid lightgray;
	border-radius: 4px;
	box-shadow: 1px 1px 2px lightgray;
}

.Annexes
{
	margin-top: 12px;
	font-size: 13px;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

/*************************** FOOTER **********************/
Footer a
{
	color: #1b1b1b;
}

#Footer1
{
	height: 50%;
	padding-left: 30px;
}

#Footer2
{	
	border-top: 1px solid lightgray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer img
{
	width: 12px;
	height: 16px;
}

.Footleft
{
	padding-left: 30px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: flex-start;
}

.Footright
{
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: flex-end;
}

/**************** traitement des infoBulles ***************************************/
.BulleInfo 
{
  	position: relative;
}

.BulleInfo:hover:after,
.BulleInfo:focus:after 
{
	content: attr(aria-label); 
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-65%); /* centrage horizontal  */
	z-index: 1; /* affiche par dessus les autres éléments */
	white-space: nowrap;  /* empèche le retour à la ligne*/
	padding: 6px 12px;
	background: #171717;
	color: white;
	font-size: 11px;
}

[aria-label]:hover:before,
[aria-label]:focus:before 
{
	content: "▲";
	position: absolute;
	top: 13px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	color: #171717;
}
